/********************************************
* Primary Base Styles
********************************************/
h1 {
	color: #fff;
	font-weight: bold;
	text-shadow: 1px 1px 0px #000;
}

@media (min-width: 400px) {
	h1 {
		font-size: 24px;
	}
}

@media (min-width: 440px) {
	h1 {
		font-size: 32px;
	}
}

@media (min-width: 500px) {
	h1 {
		font-size: 32px;
	}
}

@media (min-width: 630px) {
	h1 {
		font-size: 48px;
	}
}

@media (min-width: 768px) {
	h1 {
		font-size: 48px;
	}
}

@media (min-width: 1200px) {
	h1 {
		font-size: 64px;
	}
}

.about-tile h3 {
	border-color: #fff;
	border-bottom: 1px solid rgba(255,255,255,0.5);
	margin: 0 0 5px 0;
	padding-bottom: 5px;
}

hr {
	border-color: #fff;
	border-color: rgba(255, 255, 255, 0.5);
}

.lead {
	color: #fff;
	text-shadow: 1px 1px 0px #000;
	font-weight: bold;
	padding-top: 20px;
}

.border-left-right {
	border-style: solid;
	border-color: #000000;
	border-width: thick;
	border-top-width: 0;
	border-bottom-width: 0;
}

.border-thick {
	border-style: solid;
	border-color: #000000;
	border-width: thick;
}

.border-left-right-top {
	border-style: solid;
	border-color: #000000;
	border-width: thick;
	border-bottom-width: 0;
}

h2 {
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.center {
	align-content: center;
}

@media screen and (max-width: 768px) {
	.ml85 {
		margin-left: 85px !important;
	}
}

.big {
	font-size: 24px;
}
/********************************************
* Navigation Styles
********************************************/
.navbar {
	background-color: #000;
	background-color: rgba(0,0,0,0.3);
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.nav a {
	color: #fff;
}

.nav > li > a:focus, .nav > li > a:hover {
	background-color: rgba(0,0,0,0.50);
}

.navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-nav li a {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: right;
}

.fa-stack-1x {
	text-align: right;
	position: relative;
}


.fa-stack-2x {
	left: -15px;
}

/********************************************
* Content Base Styles
********************************************/
section.parallax {
	background-attachment: fixed;
	background-position: 50% 0;
	background-repeat: no-repeat;
	margin: 0 auto;
	position: relative;
}

section.pattern {
	background-repeat: repeat;
}

/********************************************
* Big Logo Section Styles
********************************************/
#welcome {
	background-image: url("../img/universe2.jpg");
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
	padding: 150px 0 50px;
	text-align: center;
	min-height: 676px;
}

@media screen and (max-width: 768px) {
	#welcome {
		min-height: 150px;
		padding: 170px 0 37px;
	}
}


.white {
	background-color: white;
	padding: 30px 30px;
	text-align: center;
}
/********************************************
* Project Section Styles
********************************************/
#projects {
	background-image: url("../img/pattern.png");
	box-shadow: 0 0 0 rgba(0,0,0,0.8);
}

@media screen and (max-width: 768px) {
	#projects {
		padding: 100px 0 100px;

	}
}

.cursor {
	cursor: pointer;
}

@media screen and (min-width: 768px) {
	.farm {
		margin-left: 25px;
		width: 60%;
	}
}

.projects-tile-farm {
	background-image: url("../img/farm-to-you.jpg");
	height: 550px;
	max-width: 80em;
	padding: 20px;
	margin: 20px 0;
}

@media screen and (max-width: 768px) {
	.projects-tile-farm {
		background-image: url("../img/farm-to-you-mobile.jpg");
		height: 340px;
		width: 100%;
	}
}

.projects-tile-need {
	background-image: url("../img/need.jpg");
	height: 390px;
	padding: 20px;
	margin: 20px 0;
}

@media screen and (max-width: 768px) {
	.projects-tile-need {
		background-image: url("../img/need-mobile.jpg");
		height: 320px;
		width: 100%;
	}
}

/********************************************
* About Us Section Styles
********************************************/
#about {
	background-image: url("../img/pattern2.png");
	box-shadow: 0 0 0 rgba(0,0,0,0.8);
	padding: 250px 0 250px;
}

@media screen and (max-width: 768px) {
	#about {
		padding: 100px 0 100px;

	}
}

#about h3 {
	color: #ffffff;
	text-align: center;
}

#about p {
	color: #ffffff;
	text-align: center;
}

.profilepic {
	margin: 0 auto;
}

@media screen and (min-width: 768px) {
	.about-us {
		margin-right: 200px !important;
	}
}

/********************************************
* Contact Section Styles
********************************************/
#contact {
	background-image: url("../img/universe2.jpg");
	padding: 250px 0 250px;
}

@media screen and (max-width: 768px) {
	#contact {
		padding: 100px 0 100px;
		background-color: black;
	}
}

.contact {
	color: #ffffff;
	background-color: transparent;
	border: transparent;
}

.img-circle {
	align-content: center;
	width: 90px;
	height: 150px;
	border-color: #ffffff;
	border-style: solid;
	border-width: thick;
}

.fa {
	color: lightgrey;
}

.fieldset {
	background-color: transparent !important;
	color: #ffffff;
}

.legend {
	border-color: transparent;
	color: white;
}

.mugshots {
	align-content: center;
}

@media screen and (min-width: 768px) {
	.contacts {
		margin-right: 200px !important;
	}
}

@media screen and (min-width: 768px) {
	.output {
		width: 658px;
		margin-left: 243px !important;
	}
}

.button-grey {
	background-color: grey;
	border-color: grey;
}
/********************************************
* Footer Styles
********************************************/
.footer {
	background: none repeat scroll 0 0 #000;
	color: #fff;
	height: 50px;
	padding: 20px 0;
}
